################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ExcelWriteTest/ExcelWriteTest/obj/Debug
/ExcelWriteTest/ExcelWriteTest/bin/Debug
